body {
    padding: 50px;
    background-color: #e0e0e0;
}

#menu, #menu a {
    font-size: 20px;
    text-decoration: none;
}

form {
    width: 100vw;
}

form button {
    max-width: 250px;
}

form label {
    color: rgba(0,0,0,.5)
}