<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-indigo.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../js/knockout-3.5.1.js"></script>
    <script src="../js/produto.vm.js"></script>
</head>

<body>
    <h2>
        Adicionar Produto
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" data-bind="click: list">
          <i class="material-icons">list</i>
        </button>
    </h2>
    <form action="#" class="mdl-layout mdl-js-layout">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="nome" data-bind="value: nome">
            <label for="nome">Nome</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="quantidade" data-bind="value: quantidade">
            <label for="quantidade">Quantidade</label>
            <span class="mdl-textfield__error">Caractere não é um número.</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="valor" data-bind="value: valor">
            <label for="valor">Valor</label>
            <span class="mdl-textfield__error">Caractere não é um número.</span>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-bind="click: salvar">
            Salvar
        </button>
        <div class="msg-salvo" data-bind="visible: produtoSalvo">Produto salvo com sucesso!</div>
    </form>
</body>

<script>
    let produtoVm = new ProdutoViewModel()
    ko.applyBindings(produtoVm)
</script>
<script src="../js/main.js"></script>

</html>